
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="assets/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-double-torus"></div>
        </div>
      </div>
    </div>
    <div class="page">

      <img src= https://res.cloudinary.com/dz83jh064/image/upload/v1618823757/DENTONCAMPUS_final_ki2bey.svg>
      <section class="section swiper-container swiper-slider bg-default" data-swiper='{"autoplay":{"delay":5000},"effect":"fade"}'>
        <div class="swiper-wrapper text-center">
          <div class="swiper-slide" id="page-loader" data-slide-bg="assets/slide-01.jpg">
            <div class="swiper-caption">
              <div class="swiper-slide-caption">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-7 section-slider-custom">
                      <div class="inset-xl-right-80 text-lg-left">
                        <h2>L'innovation dentaire<br class="d-block"> mise en avant
                        </h2>
                        <h5 class="d-none d-lg-block mw-400">Parceque nous savons faire, n'ayons plus peur de nous mettre en avant.</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="assets/slide-02.jpg">
            <div class="swiper-caption">
              <div class="swiper-slide-caption">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 section-slider-custom to-front">
                      <div class="text-lg-left">
                        <h2>Premier campus<br class="d-block"> dentaire Français
                        </h2>
                        <h5 class="d-none d-lg-block mw-400">Un lieu modulable qui deviendra une référence.</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="assets/slide-03.jpg">
            <div class="swiper-caption">
              <div class="swiper-slide-caption">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-7 section-slider-custom">
                      <div class="text-lg-left">
                        <h2>Un lien direct<br class="d-block">avec les fabricants</h2>
                        <h5 class="d-none d-lg-block mw-400">Les vrais acteurs du dentaire doivent travailler ensemble sans intermédiaire.</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </section>

      <!--What makes us different-->
      <section class="section-lg bg-default-liac">
        <div class="container text-center text-lg-left">
          <h3>Osons la différence</h3>
          <div class="row offset-top-60 row-50">
            <div class="col-md-6 col-lg-4">

              <h5 class="font-weight-bold text-gray-darkest">Un panel de compétences diverses</h5>
              <p>Afin d'être rapide, efficace et complet</p>
            </div>
            <div class="col-md-6 col-lg-4 offset-md-top-0">

              <h5 class="font-weight-bold text-gray-darkest">Un lieu modulable</h5>
              <p>De la formation, de l'évènementiel, du meetup, de l'information, du brainstorming</p>
            </div>
            <div class="col-md-6 col-lg-4 offset-md-top-0">

              <h5 class="font-weight-bold text-gray-darkest">Des services de qualité</h5>
              <p>Issus de notre incubateur, pour la plupart pensés et créés par les chirurgiens dentistes de France.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Material Parallax-->
      <section class="parallax-container" data-parallax-img="assets/background-03-1920x939.jpg">
        <div class="parallax-content section-98 section-sm-110 context-dark">
          <div class="container text-left">
            <div class="row justify-content-sm-center justify-content-lg-start">
              <div class="col-md-10 col-lg-8 col-xl-5">
                <h2>Une nouvelle<br class="d-none d-xl-inline-block"> façon de voir les choses</h2>
                <p class="offset-top-30 text-white">Dentoncampus,c'est avant tout l'innovation différente qui nous ressemble à nous, chirurgiens-dentistes de France</p>

              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- main services-->
      <section class="section-lg bg-default section">
        <div class="container">
          <h3 class="text-center">Nos actions</h3>
          <div class="offset-top-41">
            <p class="custom-paragraph">Notre campus offrira un large panel de services pour promouvoir la Dental French Tech. Des projets innovants sont déjà en incubation</p>
          </div>
          <div class="row offset-top-60 text-lg-left row-30">
            <div class="col-md-6 col-lg-4">
              <div class="service"><img class="img-responsive" src="assets/home-01-320x320.jpg" width="320" height="320" alt=""/><a class="service-desc h6"  target= _blank href="https://res.cloudinary.com/dz83jh064/image/upload/v1618819447/DENTONINCUB_Filiale_de_dentoncampus_1_vppnzb.pdf" download  >Incubateur</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 offset-sm-top-0">
              <div class="service"><img class="img-responsive" src="assets/home-02-320x320.jpg" width="320" height="320" alt=""/><a class="service-desc h6"  target= _blank href="https://res.cloudinary.com/dz83jh064/image/upload/v1618820113/DENTONCAMPUS_nndf6y.pdf" download  >Formation</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 offset-md-top-0">
              <div class="service"><img class="img-responsive" src="assets/home-03-320x320.jpg" width="320" height="320" alt=""/><a class="service-desc h6"  target= _blank href="https://res.cloudinary.com/dz83jh064/image/upload/v1618819307/Denton_incluZ_1_azwa6x.pdf" download  >Formation inclusive</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service"><img class="img-responsive" src="assets/home-04-320x320.jpg" width="320" height="320" alt=""/>  <a class="service-desc h6"  target= _blank href="https://res.cloudinary.com/dz83jh064/image/upload/v1618818263/Dentolabpresentation_mu0c3a.pdf" download  >laboratoire d'innovation</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service"><img class="img-responsive" src="assets/home-05-320x320.jpg" width="320" height="320" alt=""/><a class="service-desc h6"  target= _blank href="https://res.cloudinary.com/dz83jh064/image/upload/v1618821857/DentonRecup_1_gi0sa7.pdf" download  >DentonRecup</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service"><img class="img-responsive" src="assets/home-06-320x320.jpg" width="320" height="320" alt=""/><a class="service-desc h6"  target= _blank href="https://res.cloudinary.com/dz83jh064/image/upload/v1618819712/DentonHub_z7w7mo.pdf" download  >DentonHub</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- testimonials-->

      <section class="parallax-container" data-parallax-img="assets/background-04-1920x980.jpg">
        <div class="parallax-content section-98 section-sm-110 context-dark">
          <div class="container text-left">
            <div class="row justify-content-sm-center justify-content-lg-start">
              <div class="col-md-10 col-lg-8 col-xl-5">
                <h2>Nos<br class="d-none d-xl-inline-block">Objectifs</h2>
                <p class="offset-top-30 text-white">Notre objectif premier est de retrouver notre indépendance dans l'innovation dentaire Française. C'est aussi la volonté d'aider nos fabricants dans l'élaboration de nouveaux services, matériels et consommables qui nous seront réellement utiles, qui nous ressembleront et respecteront nos valeurs..
C' est aussi l'espoir de devenir la "place to be" du monde dentaire Français dans le but de  nous exporter avec fierté au niveau mondial.
Encore une fois, notre union sera notre principale force.</p>
                <div class="offset-top-30"><a class="btn btn-ellipse btn-white" target='_blank' href="https://docs.google.com/forms/d/e/1FAIpQLSf65LAS1Kezu1y_2AxcBEnUq8wl25sqR6Z8fbQJLphZLIG5CQ/viewform?usp=sf_link">Rejoignez-nous</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- latest blog posts-->
      <section class="section-98 section-sm-110">
        <div class="container">
          <h3 class="text-center text-lg-left">Nos dernières actualités</h3>
          <div class="row justify-content-sm-center offset-top-60">
            <div class="col-md-8 col-lg-4">
              <!-- Post Modern-->
              <article class="post post-modern post-modern-classic">
                <!-- Post media-->
                <div class="post-media"><a class="link-image" href="single-post.html"><img class="img-responsive img-cover" width="370" height="250" src="assets/post-13-370x250.jpg" alt=""/></a>
                </div>
                <!-- Post content-->
                <div class="post-content text-left">
                  <!-- Post Title-->
                  <div class="post-title offset-top-8">
                    <h5 class="font-weight-bold"><a href="https://www.facebook.com/groups/266941648108281/
" target='_blank'>Une famille se crée</a></h5>
                  </div>
                  <ul class="list-inline list-inline-dashed">
                    <li>19 Avril 2021</li>

                  </ul>
                  <!-- Post Body-->
                  <div class="post-body">
                    <p>Déjà plus de 400 membres dans le groupe, merci !</p>
                  </div>
                  <div class="tags group group-sm">
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-8 col-lg-4 offset-top-50 offset-md-top-0">
              <!-- Post Modern-->
              <article class="post post-modern post-modern-classic">
                <!-- Post media-->
                <div class="post-media"><a class="link-image" href="single-post.html"><img class="img-responsive img-cover" width="370" height="250" src="assets/post-14-370x250.jpg" alt=""/></a>
                </div>
                <!-- Post content-->
                <div class="post-content text-left">
                  <!-- Post Title-->
                  <div class="post-title offset-top-8">
                    <h5 class="font-weight-bold"><a href="https://docs.google.com/forms/d/e/1FAIpQLSf65LAS1Kezu1y_2AxcBEnUq8wl25sqR6Z8fbQJLphZLIG5CQ/viewform?usp=sf_link" target= '_blank'>Une équipe active se crée avec une très grande motivation</a></h5>
                  </div>
                  <ul class="list-inline list-inline-dashed">
                    <li>1er Avril 2021</li>

                  </ul>
                  <!-- Post Body-->
                  <div class="post-body">
                    <p>Plus d'une quarantaine de personnes se sont joints au projet et il reste encore de la place.</p>
                  </div>
                  <div class="tags group group-sm">
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-8 col-lg-4 offset-top-50 offset-md-top-0">
              <!-- Post Modern-->
              <article class="post post-modern post-modern-classic">
                <!-- Post media-->
                <div class="post-media"><a class="link-image" href="single-post.html"><img class="img-responsive img-cover" width="370" height="250" src="assets/post-15-370x250.jpg" alt=""/></a>
                </div>
                <!-- Post content-->
                <div class="post-content text-left">
                  <!-- Post Title-->
                  <div class="post-title offset-top-8">
                    <h5 class="font-weight-bold"><a href="https://www.facebook.com/groups/266941648108281/
" target='_blank'>Création du groupe Facebook Dentoncampus</a></h5>
                  </div>
                  <ul class="list-inline list-inline-dashed">
                    <li>18 Janvier 2021</li>

                  </ul>
                  <!-- Post Body-->
                  <div class="post-body">
                    <p>Le début d'une belle aventure, des projets concrets déjà bien établis.</p>
                  </div>
                  <div class="tags group group-sm">
                  </div>
                </div>
              </article>
            </div>
          </div>

        </div>
      </section>

      <!-- Page Footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-accent context-dark footer-classic">
        <div class="container">
          <div class="row justify-content-md-center text-xl-left">
            <div class="col-md-8 col-lg-12">
              <div class="row justify-content-sm-center row-40">
                <div class="col-sm-10 col-lg-4 text-left order-lg-3 inset-lg-left-50">

                </div>
                <div class="col-sm-10 text-sm-left col-lg-4 order-lg-2">
                  <h6>nous contacter</h6>
                  <hr class="text-subline">
                  <div class="text-center text-xl-left">
                    <address class="contact-info d-md-inline-block text-left">
                      <div class="p unit unit-spacing-xxs flex-row">
                        <div class="unit-left"><span class="icon icon-xxs mdi mdi-phone text-white"></span></div>
                        <div class="unit-body"><a class="text-white-70" href="tel:#">06 60 95 47 02</a><span class="text-white-70"> </span><a class="text-white-70" href="tel:#"></a></div>
                      </div>
                      <div class="p unit flex-row unit-spacing-xxs">
                        <div class="unit-left"><span class="icon icon-xxs mdi mdi-map-marker text-white"></span></div>
                        <div class="unit-body"><a class="text-white-70" href="#">277 Avenue Jean Garaialde 62152 HARDELOT</a></div>
                      </div>
                      <div class="p unit unit-spacing-xxs flex-row offset-top-16">
                        <div class="unit-left"><span class="icon icon-xxs mdi mdi-email-outline text-white"></span></div>
                        <div class="unit-body"><a class="text-white-70 text-java" href="mailto:infos@dentocampus.org">infos@dentocampus.org</a></div>
                      </div>
                    </address>
                  </div>
                </div>
                <div class="col-sm-10 col-lg-4 order-lg-1 text-center text-lg-left">
                  <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-154x53.png" alt="" width="77" height="26"/><img class="brand-logo-light" src="assets/logo-default-154x53.svg" alt="" width="77" height="26"/></a>
                  <div class="offset-top-30">
                          <ul class="list-inline">
                            <li><a class="icon fa fa-facebook icon-xxs icon-circle icon-white" target='_blank' href="https://www.facebook.com/groups/266941648108281/"></a></li>

                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container offset-top-50 offset-md-top-60">
          <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Dentoncampus© </span><span>.&nbsp;</span><a href="privacy-policy.html"></a></p>
        </div>







      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="assets/core.min.js"></script>
    <script src="assets/script.js"></script>
  </body>
</html>
